default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: username
  password: password

development:
  <<: *default
  database: timer_development

test:
  <<: *default
  database: timer_test

production:
  <<: *default
  database: timer_production
